@import 'fonts.css';
:root {
  --imagen-fondo: url('../images/fondo.jpg');
  --fuente-titulos: 'Roboto';
  --fuente-texto: 'Open Sans';
  --color-secundario: #a72608;
  --color-blanco: #e9e9ec;
  --color-enfasis: #ffe74c;
  --color-oscuro: #272822;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 72.5%;
  scroll-behavior: smooth;
}

body {
  background-image: var(--imagen-fondo);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media print {
  body {
    background-image: none;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuente-titulos);
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  width: 28%;
  height: 100%;
  position: fixed;
}

nav .wrapper {
  display: flex;
  flex-direction: column;
  width: 84%;
  height: 93%;
  justify-content: space-between;
}

nav .wrapper .usuario {
  align-self: center;
  text-align: center;
  margin-top: 5rem;
}

nav .wrapper .usuario img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

@media (min-width: 1900px) {
  nav .wrapper .usuario img {
    width: 13rem;
    height: 13rem;
  }
}

nav .wrapper h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

@media (min-width: 1900px) {
  nav .wrapper h2 {
    font-size: 1.8rem;
  }
}

nav .wrapper h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

@media (min-width: 1900px) {
  nav .wrapper h3 {
    font-size: 1.5rem;
  }
}

nav .wrapper .navegacion {
  list-style: none;
}

nav .wrapper .navegacion li {
  margin: 1rem 0;
}

nav .wrapper .navegacion li a {
  font-size: 1.4rem;
  color: var(--color-blanco);
  text-decoration: none;
  transition: color 0.3s linear;
}

nav .wrapper .navegacion li a:hover {
  color: var(--color-enfasis);
}

@media (min-width: 2000px) {
  nav .wrapper .navegacion li a {
    font-size: 1.8rem;
  }
}

nav .wrapper .redes {
  margin-right: auto;
}

nav .wrapper .redes h2 {
  margin-top: initial;
  font-weight: 300;
  display: block;
}

nav .wrapper .redes .contenedorLogos {
  margin-top: 1.5rem;
}

nav .wrapper .redes .contenedorLogos a {
  width: 3rem;
  height: 3rem;
}

nav .wrapper .redes .contenedorLogos a img {
  width: inherit;
  height: inherit;
}

nav .wrapper .redes .contenedorLogos a:nth-child(1) {
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  nav .wrapper {
    width: 82%;
  }
}

@media print {
  nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  nav {
    width: 25%;
  }
}

section {
  display: flex;
  width: 75%;
  margin-left: auto;
  flex-direction: column;
  background-color: #272822;
  height: 100vh;
  flex: 1 0 auto;
}

section.portada {
  background-color: unset;
  justify-content: center;
  align-items: center;
}

section.portada h1 {
  color: var(--color-blanco);
  font-family: var(--fuente-texto);
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 3rem;
  text-align: center;
}

section.portada h1 b {
  color: var(--color-enfasis);
}

section.portada a {
  background: none;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  margin-top: 1rem;
  padding: 1.2rem 1.7rem;
  color: var(--color-enfasis);
  border: 2px solid var(--color-enfasis);
  border-radius: 14px;
  transition: color 0.2s linear, border-color 0.2s linear;
}

section.portada a:hover {
  cursor: pointer;
  color: var(--color-blanco);
  border-color: var(--color-blanco);
}

@media print {
  section.portada {
    display: none;
  }
}

section.portfolio .userDetails {
  display: none;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
}

section.portfolio .userDetails img {
  float: left;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

section.portfolio .userDetails h2 {
  font-size: 1.8rem;
  color: var(--color-blanco);
  margin-left: 17rem;
  width: 30rem;
  text-align: center;
}

section.portfolio .userDetails h2 span {
  font-size: 1.5rem;
  font-weight: normal;
  display: block;
}

@media print {
  section.portfolio .userDetails {
    display: flex;
  }
}

section.portfolio .top,
section.portfolio .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  align-items: center;
}

section.portfolio .top article,
section.portfolio .bottom article {
  height: 80%;
  width: 25%;
  margin-top: 1rem;
}

section.portfolio .top article h2,
section.portfolio .bottom article h2 {
  font-size: 1.3vw;
  font-family: var(--fuente-titulos);
  font-weight: 600;
  color: var(--color-enfasis);
  margin-bottom: 2rem;
}

section.portfolio .top article p,
section.portfolio .bottom article p {
  font-family: var(--fuente-texto);
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 1.6vw;
  color: var(--color-blanco);
}

section.portfolio .top article .trabajo h3,
section.portfolio .bottom article .trabajo h3 {
  font-size: 1.1vw;
  font-family: var(--fuente-titulos);
  font-weight: bold;
  color: var(--color-blanco);
}

section.portfolio .top article .trabajo h3 span,
section.portfolio .bottom article .trabajo h3 span {
  font-weight: 300;
}

section.portfolio .top article .trabajo p,
section.portfolio .bottom article .trabajo p {
  font-size: 0.9vw;
  line-height: 1.2vw;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

section.portfolio .bottom article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

section.portfolio .bottom article .tecnologias {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 68%;
  height: 47%;
  margin-top: 2rem;
  flex-direction: row;
}

section.portfolio .bottom article .tecnologias img {
  flex: 1 0 21%;
  width: 8rem;
  height: 8rem;
  margin-top: 3rem;
}

@media print {
  section.portfolio {
    width: 100%;
  }
}

section.contacto {
  align-items: center;
  justify-content: center;
}

section.contacto article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blanco);
  width: 75%;
  height: 75%;
}

section.contacto article h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  color: var(--color-secundario);
}

section.contacto article form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
  margin-top: 3rem;
  justify-content: space-evenly;
}

section.contacto article form .formgroup {
  width: 50%;
  text-align: center;
}

section.contacto article form .formgroup.entero {
  width: 100%;
}

section.contacto article form .formgroup label {
  font-family: var(--fuente-titulos);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-secundario);
}

section.contacto article form .formgroup input,
section.contacto article form .formgroup textarea {
  font-family: var(--fuente-texto);
  display: block;
  color: var(--color-secundario);
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0 1rem;
  border: 2px solid var(--color-secundario);
  border-radius: 20px;
}

section.contacto article form .formgroup input:focus,
section.contacto article form .formgroup textarea:focus {
  outline: none;
  border-color: var(--color-oscuro);
}

section.contacto article form .formgroup input {
  height: 4rem;
  width: 11vw;
}

section.contacto article form .formgroup textarea {
  width: 73%;
  height: 12rem;
  padding-top: 1rem;
}

section.contacto article form input[type='submit'] {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  font-family: var(--fuente-titulos);
  font-size: 1.6rem;
  height: 4.5rem;
  width: 20rem;
  border: none;
  border-radius: 20px;
}

@media (min-width: 1599px) {
  section.contacto article form input[type='submit'] {
    font-size: 1.6rem;
  }
}

@media print {
  section.contacto {
    display: none;
  }
}
