@import 'fonts.css';

:root {
  --imagen-fondo: url('../images/fondo.jpg');
  --fuente-titulos: 'Roboto';
  --fuente-texto: 'Open Sans';
  --color-nav: #a72608;
  --color-principal: #e9e9ec;
  --color-enfasis: #ffe74c;
  --color-oscuro: #272822;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 76.5%;
  scroll-behavior: smooth;
}

body {
  background-image: var(--imagen-fondo);
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuente-titulos);
  background-color: var(--color-nav);
  color: var(--color-principal);
  width: 28%;
  height: 100%;
  position: fixed;
  @media (min-width: 1200px) {
    width: 25%;
  }
}

nav .usuario {
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
  border-radius: 50%;
}

nav h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  @media (min-width: 1900px) {
    font-size: 1.8rem;
  }
}

nav h3 {
  font-size: 1.2rem;
  font-weight: 300;
  @media (min-width: 1900px) {
    font-size: 1.5rem;
  }
}

nav .navegacion {
  list-style: none;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: 2.2rem;

  @media (min-width: 1200px) {
    margin-left: 3.5rem;
  }

  @media (min-width: 1200px) {
    margin-left: 3.5rem;
  }

  @media (min-width: 1440px) {
    margin-left: 5.3rem;
  }

  @media (min-width: 1900px) {
    margin-left: 8rem;
  }

  @media (min-width: 2000px) {
    margin-left: 13.7rem;
  }
}

nav .navegacion li {
  margin: 1rem 0;
}

nav .navegacion li a {
  font-size: 1.4rem;
  color: var(--color-principal);
  text-decoration: none;
  transition: color 0.3s linear;

  @media (min-width: 2000px) {
    font-size: 1.7rem;
  }
}

nav .navegacion li a:hover {
  color: var(--color-enfasis);
}

nav .redes {
  margin-top: auto;
  margin-bottom: 8rem;
  margin-right: auto;
  margin-left: 2.2rem;

  h2 {
    font-weight: 300;
    display: block;
  }

  .contenedorLogos {
    margin-top: 1.5rem;
    a {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  @media (min-width: 1200px) {
    margin-left: 3.5rem;
  }

  @media (min-width: 1300px) {
    margin-left: 3.5rem;
  }

  @media (min-width: 1440px) {
    margin-left: 5.3rem;
  }

  @media (min-width: 1900px) {
    margin-left: 8rem;
  }
}

section {
  display: flex;
  width: 75%;
  margin-left: auto;
  flex-direction: column;
  background-color: #272822;
  height: 100vh;
  flex: 1 0 auto;
}

.portada {
  background-color: unset;
  justify-content: center;
  align-items: center;
  @media print {
    display: none;
  }
}

.portada h1 {
  color: var(--color-principal);
  font-family: var(--fuente-texto) sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 3rem 1rem 3rem;
  text-align: center;
}

.portada h1 b {
  color: var(--color-enfasis);
}

.portada a {
  background: none;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  padding: 1.2rem 1.7rem;
  color: var(--color-enfasis);
  border: 2px solid var(--color-enfasis);
  border-radius: 14px;
  transition: color 0.2s linear, border-color 0.2s linear;
}

.portada a:hover {
  cursor: pointer;
  color: var(--color-principal);
  border-color: var(--color-principal);
}
