@import 'fonts.css';
:root {
  --imagen-fondo: url("../images/fondo.jpg");
  --fuente-titulos: "Roboto";
  --fuente-texto: "Open Sans";
  --color-nav: #a72608;
  --color-principal: #e9e9ec;
  --color-enfasis: #ffe74c;
  --color-oscuro: #272822;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 76.5%;
  scroll-behavior: smooth;
}

body {
  background-image: var(--imagen-fondo);
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuente-titulos);
  background-color: var(--color-nav);
  color: var(--color-principal);
  width: 28%;
  height: 100%;
  position: fixed;
}
nav .wrapper {
  display: flex;
  flex-direction: column;
  width: 84%;
  height: 93%;
  justify-content: space-between;
}
nav .wrapper .usuario {
  align-self: center;
  text-align: center;
  margin-top: 5rem;
}
nav .wrapper .usuario img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
@media (min-width: 1900px) {
  nav .wrapper .usuario img {
    width: 13rem;
    height: 13rem;
  }
}
nav .wrapper h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
@media (min-width: 1900px) {
  nav .wrapper h2 {
    font-size: 1.8rem;
  }
}
nav .wrapper h3 {
  font-size: 1.2rem;
  font-weight: 300;
}
@media (min-width: 1900px) {
  nav .wrapper h3 {
    font-size: 1.5rem;
  }
}
nav .wrapper .navegacion {
  list-style: none;
}
nav .wrapper .navegacion li {
  margin: 1rem 0;
}
nav .wrapper .navegacion li a {
  font-size: 1.4rem;
  color: var(--color-principal);
  text-decoration: none;
  transition: color 0.3s linear;
}
nav .wrapper .navegacion li a:hover {
  color: var(--color-enfasis);
}
@media (min-width: 2000px) {
  nav .wrapper .navegacion li a {
    font-size: 1.8rem;
  }
}
nav .wrapper .redes {
  margin-right: auto;
}
nav .wrapper .redes h2 {
  margin-top: initial;
  font-weight: 300;
  display: block;
}
nav .wrapper .redes .contenedorLogos {
  margin-top: 1.5rem;
}
nav .wrapper .redes .contenedorLogos a {
  width: 3rem;
  height: 3rem;
}
nav .wrapper .redes .contenedorLogos a img {
  width: inherit;
  height: inherit;
}
nav .wrapper .redes .contenedorLogos a:nth-child(1) {
  margin-right: 1rem;
}
@media (min-width: 1200px) {
  nav .wrapper {
    width: 82%;
  }
}

section {
  display: flex;
  width: 75%;
  margin-left: auto;
  flex-direction: column;
  background-color: #272822;
  height: 100vh;
  flex: 1 0 auto;
}

.portada {
  background-color: unset;
  justify-content: center;
  align-items: center;
}
@media print {
  .portada {
    display: none;
  }
}

.portada h1 {
  color: var(--color-principal);
  font-family: var(--fuente-texto) sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 3rem 1rem 3rem;
  text-align: center;
}

.portada h1 b {
  color: var(--color-enfasis);
}

.portada a {
  background: none;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  padding: 1.2rem 1.7rem;
  color: var(--color-enfasis);
  border: 2px solid var(--color-enfasis);
  border-radius: 14px;
  transition: color 0.2s linear, border-color 0.2s linear;
}

.portada a:hover {
  cursor: pointer;
  color: var(--color-principal);
  border-color: var(--color-principal);
}

/*# sourceMappingURL=style.css.map */
